.mylogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url('../../assets/baca1.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.6);
    /*backdrop-filter: blur(10px);         
    -webkit-backdrop-filter: blur(10px);*/
    padding: 20px 40px;
    border-radius: 25px;
    box-shadow: 2px 2px 6px black;
    width: 25%;
    height: 80%;
}
.login img{
    width: 70%;
    margin-bottom: -30px;
}

.in-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}
.in-login h3{
    font-size: 25px;
    text-decoration: underline;
}
.in-input {
  display: flex;
  flex-direction: column;
  gap: 3px; 
  width: 100%;
}
.in-input p{
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


.in-input input {
  height: 40px;
  padding: 2px 8px;
  color: black;
  width: 100%;
  font-size: 15px;
  border-radius: 5px;
  border: 0.2px solid pink;
  background-color: white;
  margin-top: 0; /* remove -13px */
}
.mybtn1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mybtn1 button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 20px;
    background-color: blue;
}
.password-input-wrapper {
  position: relative;
  width: 100%;
}

.password-input-wrapper input {
  width: 100%;
  padding-right: 40px; /* space for eye icon */
  box-sizing: border-box;
}

.toggle-password {
  position: absolute;
  top: 58%;
  right: 10px;
  transform: translateY(-50%); 
  cursor: pointer;
  font-size: 18px;
  color: #555;
}

@media (max-width: 450px) {
  .login {
    width: 80%;   
    height: auto; 
    padding: 15px 20px;
  }

  .login img {
    width: 100%;   /* Resize logo */
    margin-bottom: 10px;
  }

  .in-login h3 {
    font-size: 20px;
    margin-top: -20px;
  }
  .in-input p{
    font-size: 16px;
  }
  .in-input input {
    font-size: 14px;
    height: 35px;
  }

  .mybtn1 button {
    font-size: 16px;
    height: 38px;
    color: white;
  }
}